{% extends 'layout/base.html' %}
{% block body %}
    <div 
    class="center"
    style="
        max-width: 100%;
        width: 700px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center; 
        flex-wrap: wrap;
        gap: 10px;"
    >
    {% for categoria in tipos %}
        <a href="/categories/{{ categoria }}"> 
            <div style="
            width: 300px;
            height: 90px;
            background: black; 
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;">{{ categoria }}</div>
        </a>
    {% endfor %}
    </div>
{% endblock%}