{% extends 'layout/base.html' %}
{% block body %}

    <div class="box-inactive" style="width: 100%; text-align: center; height: 60px;" >
        <a href="{% url 'index' %}">Active</a>
    </div>
    <div class="wrapper-catalog">
        {% for item in products %}
        <a href="/product/{{item.title}}" class="box-product">
                {% if ultimo_postor %}
                <div class="box-notify" style="width: 100%; position: relative;">
                    <div class="circle" style="position: absolute; padding: 5px 15px; background: rgb(0, 0, 0); right: -15px; top: -15px; border-radius: 10px; font-size: 0.9em; color: white;">won</div>
                </div>
                {% endif %}
                <div class="img-box">
                    <img src="{{ item.img_url }}" alt="">
                </div>   
                <div class="data-box">
                    <div class="title">
                        <p>{{ item.title }}</p>
                        {% if not item.last_offer %}
                            <p style="max-width: 9ch; font-size: 0.9em;">${{ item.initial_offer }}</p>
                        {% else %}
                            <p style="max-width: 9ch; font-size: 0.9em;">${{ item.last_offer }}</p>
                        {% endif %}
                    </div>
                    <div class="description">
                        <p>Created by {{ item.owner }}</p>
                        {{item.created_at}}
                    </div>
                </div>
            </a>

        {% endfor %}

{% endblock %}