{% extends 'layout/base.html' %}
{% block body %}
    <div class="box-inactive" style="width: 100%; text-align: center; height: 60px;" >
        <a href="{% url 'inactive_products' %}" style="color: black;">Inactive</a>
    </div>
    <div class="wrapper-catalog">
        {% if not products %}
        <h3 style="
        width: 100%;
        height: 55vh;
        display: flex;
        justify-content: center;
        align-items: center;">No items to display</h3>
        {% else %}
        {% for item in products %}
            <a href="/product/{{item.title}}" class="box-product">
                <div class="img-box">
                    <img src="{{ item.img_url }}" alt="">
                </div>   
                <div class="data-box">
                    <div class="title">
                        <p>{{ item.title }}</p>
                        {% if not item.last_offer %}
                            <p style="max-width: 9ch; font-size: 0.9em;">${{ item.initial_offer }}</p>
                        {% else %}
                            <p style="max-width: 9ch; font-size: 0.9em;">${{ item.last_offer }}</p>
                        {% endif %}
                    </div>
                    <div class="description">
                        <p>Created by {{ item.owner }}</p>
                        {{item.created_at}}
                    </div>
                </div>
            </a>

        {% endfor %}
        {% endif %}
    </div>
{% endblock %}