{% extends 'layout/base.html' %}
{% block body %}
    <div class="container-product">
        <div class="wrapper-product-view">
            {% for item in product %}
                <div class="left">
                    <img src="{{item.img_url}}">
                </div>
                <div class="right">
                    <h5>{{ item.category }}</h5>
                    <h1>{{ item.title }}</h1>
                    <p>{{ item.description }}</p>
                    <div class="offers">
                        <div class="box-offer">
                            <p class="initial">Initial offer ${{ item.initial_offer }}</p>
                            <p class="initial">By {{ item.owner }}</p>
                        </div>  
                        {% if item.last_offer != None %}
                            <div class="box-offer">
                                <p class="current">Current offer ${{ item.last_offer }}</p>
                                <p class="current">By {{ item.last_bidder }}</p>
                            </div>
                        {% endif %}
                    </div>
                    {% if user.is_authenticated and user != item.owner %}
                        <div class="bid">
                            <form action="" method="POST">
                                {% csrf_token %}
                                {% if item.last_offer != None %}
                                    <input name="last_offer" type="number" min="{{ item.last_offer }}" max="99999999999" placeholder="$" required>
                                {% else %}
                                    <input name="last_offer" type="number" min="{{ item.initial_offer }}" max="99999999999">
                                {% endif %}
                                <input name="last_bidder" type="text" value="{{ user }}" hidden>
                                <button type="submit">PLACE BID</button>
                            </form>
                        </div>
                    {% endif %}
                    {% if message %}
                        <div class="container-msg">
                            <div class="message-sv-err">
                                {{ message }}
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <div class="wrapper-comments">
            <div class="header-comment">
                <form action="" method="POST">
                    <input type="text" placeholder="Add comment">
                    <button type="submit">ADD</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}