@import './colors';

.container-product { 
    min-height: 100vh;
    position: absolute;
    display: flex;
    width: 100%;
    top: 0;
    z-index: 5;
}
.wrapper-product-view { 
    width: 100%;
    height: 90vh;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    .left {
        padding-top: 100px;
        width: 45vw;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        img { 
            width: 65%;
        }
    }
    .right {
        padding-top: 100px;
        padding-left: 4rem;
        padding-right: 4rem;
        width: 55vw;
        height: 100%;
        background: rgb(222, 226, 235);
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        h5 {
            text-transform: uppercase;
            font-weight: 300;
            letter-spacing: 2px;
        }
        h1 {
            font-size: 1.6em;
        }
        p {
            max-width: 55ch;
            font-size: 0.9em;
        }
        .offers {
            display: flex;
            width: 100%;
            gap: 10px;
            flex-wrap: wrap;
            margin-top: 10px;
            .box-offer {
                min-width: 200px;
                margin-top: 10px;
                padding: 10px;
                background: rgb(252, 252, 252);
                border-radius: 10px;
                .initial {
                    font-size: 0.9em;
                    text-transform: uppercase;
                    color: $gray2;
    
                }
                .current { 
                    font-size: 0.9em;
                    color: $gray2;
                    text-transform: uppercase;
                    font-weight: 500;
                }
            }
        }
        form {

            padding: 0;
            width: 100%;
            display: flex;
            flex-direction: row;
            background: none;
            margin-top: 30px;
            input { 
                width: 50%;
                background: rgb(252, 252, 252);
                border: none;
                padding: 15px;
                border-radius: 10px;
                color: black;
            }
            button { 
                width: 30%;
                background: black;
                color: white;
                border-radius: 10px;
            }
        }
    }

}

.wrapper-comments{ 
    width: 100%;
    min-height: 10vh;
 
    position: absolute;
    margin-top: 90vh;
    .header-comment { 
        width: 100%;
        padding: 20px;
        form { 
            padding: 0;
            margin: 0;
            background: none;
            display: flex;
            flex-direction: row;
            margin: 0 auto;
            width: 100%;
            padding: 0 4rem;
            color: black;
            input { 
                width: 100%;
                padding: 15px;
                border-radius: 10px;
                color: black;
            }
            button { 
                background: black;
                padding: 15px;
                min-width: 150px;
                color: white;
                border-radius: 10px;
            }
        }
    }

    .body-comment { 
        padding: 0 4rem;
        margin-top: 15px;
        .box { 
            padding: 20px;
            background: rgb(222, 226, 235);
            border-radius: 10px;
            margin-bottom: 10px;
            .name {
                text-transform: uppercase;
                font-size: 0.8em;
                letter-spacing: 1px;
                color: gray;
                margin-bottom: 10px;
            
            }
            .comment {
                text-transform: capitalize;
            }
        }
    }
}